
.column {
  float: left;
  /* padding: 15px; */
}

/* Cột trái và phải */
.column.side {
width: 20%;
background-color: white;
}
.column.side.right {
  width: 16%;
  background-color: white;
  }


/* Cột giữa */
.column.middle {
  margin: 0px 0.3%;
  width: 63.4%;
  padding: 15px 0px 15px 0px;
}
.column-main-side{
  width: 100%;
  background-color: white;
}
.column-main{
  margin: 15px 0px 15px 0px;
}
/* Xóa float khác sau các cột */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Bố cục linh hoạt: ba cột xếp chồng lên nhau thay vì cạnh nhau khi màn hình 
có chiều rộng dưới 600px */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}