body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  background-color: #D9D9D9;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  border: 1px solid #ccc;
  background-color: white;
  margin-top: -11px;
  border-radius: 20px;
  pointer-events: auto;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb:active {

  border: 2px solid #7284db;
}
.slick-dots li button:before{
  color: white !important;
}
.slick-prev {
  left: 30px !important;
  z-index: 10 !important;
}
.slick-next {
  z-index: 10 !important;
  right:30px !important;
}

button.slick-arrow::before  {
  font-size: 40px !important;
  z-index: 10 !important;
}
/* leaflet */
.leaflet-container {
  height: 450px;
}
h1{
  font-size: 80px !important;
}
h3{
  font-size: 60px !important;
}
h4{
  font-size: 50px !important;
}